<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/answer.css') }}">
</head>

<body>
    <h1>RWD List to Table</h1>
    <table class="rwd-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Transport</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Destination</th>
                <th>Class</th>
                <th>Majority</th>
                <th>Children</th>
            </tr>
        </thead>
        <tbody>
            {% for user in obj %}
            <tr>
                {% for element in user %}
                <td>{{element}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p>
</body>

</html>