@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOwAAACxCAMAAADwHaEPAAAAMFBMVEX7zJj7y5r6y5f9y5b7zJb+z5v7zZv4zpz4ypj4zp7/37H0zJv7yZb+zp38ypX/zpmPSb3iAAABWUlEQVR4nO3Y7WrCMACG0fQrWuf0/u92TqY4JKAyGL45z8+EhB6aQmjZreumLvvleGpZal3C+ryp7D7O2OM0zXMptZZGl8Wt8db8s/u9Wmu/4acrdlv20+Ewz+O43Y6NLotb4635Z/d7tdZ+w00PY9+1e+zpGPfzZh/4Zt81WMc4IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0Ith9s2U+wAcHCBgQLG1DnlwrYjGBhA4KFDQgWNiBY2IBgYQOChQ0IFjage2xXP8lhM4KFDQi2H2xXlwrYjGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGEDgoUNCBY2IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGEDgoUNCBY2IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGED6hxbxyt2+O+n++N+Y9czdvmeqHWzqcF9AbYAXxlYEQOkAAAAAElFTkSuQmCC);
  background-size: 1000px 452px;
  background: linear-gradient(to bottom right, #4285B4, 	#FFDEAD);
  background-position: right;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-image:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOwAAACxCAMAAADwHaEPAAAAMFBMVEX7zJj7y5r6y5f9y5b7zJb+z5v7zZv4zpz4ypj4zp7/37H0zJv7yZb+zp38ypX/zpmPSb3iAAABWUlEQVR4nO3Y7WrCMACG0fQrWuf0/u92TqY4JKAyGL45z8+EhB6aQmjZreumLvvleGpZal3C+ryp7D7O2OM0zXMptZZGl8Wt8db8s/u9Wmu/4acrdlv20+Ewz+O43Y6NLotb4635Z/d7tdZ+w00PY9+1e+zpGPfzZh/4Zt81WMc4IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0Ith9s2U+wAcHCBgQLG1DnlwrYjGBhA4KFDQgWNiBY2IBgYQOChQ0IFjage2xXP8lhM4KFDQi2H2xXlwrYjGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGEDgoUNCBY2IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGEDgoUNCBY2IFjYgGBhA4KFDQgWNiBY2IBgYQOChQ0IFjYgWNiAYGED6hxbxyt2+O+n++N+Y9czdvmeqHWzqcF9AbYAXxlYEQOkAAAAAElFTkSuQmCC);
  background-size: 400px 600px;
  background: linear-gradient(to bottom right, #4285B4, 	#ffe8c6);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #313131;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .button:hover,.form .button:active,.form .button:focus {
  background: #7b7b7b;
}
.form .message {
  margin: 15px 0 0;
  color: #ff0000;
  font-size: 12px;
}
.form .message a {
  color: #191919;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #1d1d1d; /* fallback for old browsers */
  background: rgb(255, 255, 255);
  background: url(https://www.state.gov/wp-content/uploads/2020/11/shutterstock_186964970-scaled.jpg) 50%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

*
{
  margin:0;
  box-sizing:border-box;
  padding:0
}

body
{
  
  
  background-image: 30% url(https://www.state.gov/wp-content/uploads/2020/11/shutterstock_186964970-scaled.jpg);
  background-repeat:no-repeat;
  background-size:2560px 1707px;
  background-attachment:fixed
  
  
}

h1
{
  color:#FFF;
  text-align:center;
  text-transform:uppercase;
  padding:20px;
  font-family: 'Source Sans Pro', sans-serif;


}

p
{
  color:#eee;
  text-align:center;  font-family: 'Titillium Web', sans-serif;
font-size:17px

  
}

form
{
  width:420px;
  height:500px;
  background:rgba(0,0,0,.6);
  margin:50px auto
}

form p
{
  font-size:17px;
  padding:30px
}

input[name='by']
{
  margin-left:60px;
  height:15px;
  width:15px;
  background-color:transparent;
  
}


span
{
  color:#FFF;
  font-size:16px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

input[name='first_name'],
input[name='last_name'],
input[name='date']
{
  width:80%;
  margin:25px auto;
  display:block;
  padding:10px;
  border-radius:20px;
  border:none;
  outline:0;
}

select
{
  height:30px;
  width:150px;
  border-radius:10px;
  border:0;
  outline:0;
  margin:20px 0 0 38px;
  padding:5px;
  
  
}

input[type='submit']
{
  width:80%;
  margin:30px auto;
  display:block;
  border-radius:10px;
  border:0;
  outline:0;
  height:35px;
  background:#27aa9d;
  color:#FFF
}

input[type='submit']:hover
{
  background:#1f877d;
  cursor: pointer;
}

p:last-child
{
  font-size:16px;
  padding-bottom:30px
}