<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <h1>book my trip</h1>
    <p>Lorem ipsum dolar sit emit Lorem ipsum dolar sit emit</p>
    <div>
    
    <p>offers a quick nd easy way to book tickets online</p>
      
     <input type="radio" name="go"> <span>Flight</span>
      <input type="radio" name="go" checked> <span>Train</span>
      <input type="radio" name="go"> <span>Bus</span>
      <input type="text" placeholder="Your Name" name='come'>
      <span class='cal'>
      <input type="text" placeholder="Date" name='come'>
    </span>
      <select><option class='opy'>Destination City</option></select>
      <select><option>Select Class</option></select>
       <select><option>Adults</option></select>
      <select><option>Children</option></select>
      <input type='submit' value='Submit'>
    
    </div>
     
    
    
</body>

</html>