<!DOCTYPE html>
<html>

<head>
  <title>Сайт</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
  <h1>book my trip</h1>
  <p>Lorem ipsum dolar sit emit Lorem ipsum dolar sit emit</p>
  <form method="post" enctype="multipart/form-data" action="/result">

    <p>Offers a quick nd easy way to book tickets online</p>

    <input type="radio" name="by" value="Flight"> <span>Flight</span>
    <input type="radio" name="by" value="Train" checked> <span>Train</span>
    <input type="radio" name="by" value="Bus"> <span>Bus</span>
    <input type="text" placeholder="Your First Name" name='first_name'>
    <input type="text" placeholder="Your Last Name" name='last_name'>
    <input type="date" name='date'>
    <select name="city">
      <option>Dnipro</option>
      <option>Kharkiv</option>
      <option>Odesa</option>
      <option>Lviv</option>
      <option>Zaporizhzhia</option>
    </select>
    <select name="class">
      <option>First Class</option>
      <option>Second Class</option>
      <option>Third Class</option>
      <option>Fourth Class</option>
    </select>
    <select name="adult">
      <option>Adults</option>
      <option>Child</option>
    </select>
    <select name="children">
      <option>No children</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4+</option>
    </select>
    <input type='submit' value='Submit'>

  </form>



</body>

</html>